body {
    background-color: aquamarine;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.6fr 0.4fr 1fr;
    grid-template-areas: ". profile_image profile_image ." ". profile_image profile_image ." ". profile profile ." "links links links links";
  }
  
  .profile_image { 
      grid-area: profile_image;
      display: block;
    }
  
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "github blog twitter linkedin";
    grid-area: links;
  }
  
  .github { grid-area: github; }
  
  .blog { grid-area: blog; }
  
  .twitter { grid-area: twitter; }
  
  .linkedin { grid-area: linkedin; }
  
  .profile { grid-area: profile; }