.c1 {
    color: #FFFD82;
}

.c2 {
    color: #2D3047;
}

body {
    background-color: #E7E7E7;
}

a {
    text-decoration: underline;
    color: #192A51;
    text-decoration-color: #192A51;
}

a:visited {
    color: #192A51;
  }

.border {
    border-style: double;
    border-color: #192A51;
    margin: 5px;
    border-width: 5px;
}

.baffle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.divider {
    /* text-align: center; */
}

.wrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.section {
    color: #192A51;
    margin-right: 22.5px;
    margin-left: 22.5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 25px;
    line-height: 1.66667;
    /* width: 100%; */
    min-height: 100%;
    font-family: 'PT Mono', monospace;
    /* text-align: center; */
}
